body{
    background-image: linear-gradient(#00ff00,#02a202);
   
}
.heading{
    font-size: 20px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.note{
    font-size: 20px;
    color: black;
}
.copy_right_footer{
    position: fixed;
    font-size: 20px;
    border: dotted black;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    background-color: #1b9306;
    line-height: 5;
    text-align: center;
}

canvas{
    border: dashed rgb(0, 206, 0);
    border-radius: 20px;
    box-shadow:5px 5px 5px rgb(9, 185, 0);
}